body {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.first_section {
    width: 85%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: rgb(65, 61, 61);
}

.links {
    display: flex;
    text-align: center;
    gap: 10%;
    width: 60%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    width: 20%;

}

#btn1 {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#btn2 {
    background: linear-gradient(45deg, #ff0095, #FF00FF);
    color: #1A1A1D;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 3%;
}

.logo img {
    height: 40px;
    width: 50px;
    object-fit: contain;
}

h1 {
    font-size: clamp(3.5rem, 10vw, 5rem);
    color: #262849;
}

.core-points {
    color: red;
    text-decoration: underline;
}

h2 {
    font-size: clamp(3.0rem, 8vw, 4rem);
}

h3 {
    font-size: clamp(2.0rem, 5vw, 2rem);
}

p {
    color: #80807f;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.home {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    height: auto;
    margin: 0 auto 10%;
}

.left_part {
    width: 50%;
    margin-top: 5%;
}

.btns {
    display: flex;
    gap: 5%;
    height: 50px;
    width: 50%;
    border-radius: 20%;
}

.btns button:nth-child(1) {
    background-color: #262849;
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.btns i {
    font-size: 32px;
}

.btns img {
    width: 20%;
    font-size: 50px;
}

.shape {
    border-radius: 80px;
    rotate: 19deg;
    height: 300px;
    width: 250px;
    position: absolute;
    top: 30%;
    margin-left: -10%;
    left: 0;
    z-index: -1;
    background-color: #EBC2D7;
}

.left_part a {
    color: #262849;
    font-weight: 600;
}

.right_part {
    width: 40%;
    position: relative;
    transform: rotate(-10deg);
    margin-top: -5%;
    box-shadow: #1A1A1D;
}

.users {
    background-color: white;
    padding: 10%;
    border-radius: 40px;
    width: 80%;
}

.notification {
    display: flex;
    gap: 5%;
    align-items: center;
}

.profile {
    border: 5px solid #f3cac4;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;

}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.notification p {
    background-color: #effbf7;
    padding: 10%;
    border-radius: 20px;
    color: blue;
}

.fullname {
    display: inline;
    align-items: center;
    justify-content: space-between;
}

.name {
    display: flex;
    justify-content: space-between;
}

.bold {
    font-weight: 600;
    color: black;
}

#manWithBeard {
    top: 24%;
}

.womenUsers {
    right: -35%;
    top: 50%;
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    height: 150px;
    width: 80px;
    position: absolute;
    transform: rotate(16deg);

}

.image img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
}

.speed {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    padding: 5%;
    border-radius: 20px;
    position: absolute;
    margin-top: -5%;
    left: 0%;
}

.elipse {
    border: blue 5px solid;
    border-radius: 50%;
    padding: 5%;
}

.salary {
    position: relative;
}

.salary img {
    position: absolute;
    right: -30%;
    top: 30%;
    width: 300px;
    border-radius: 20px;

}

.expansion {
    text-align: center;
    margin-top: 20%;
}

.expansion p {
    font-size: 40px;
}

.logos {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 8%;
}


#trello {
    margin-top: -3%;
    width: 10%;
    height: 10%;
}

#logo-picture {
    width: 10%;
    height: 10%;
}

.about {
    background-color: rgb(238, 248, 248);
    font-size: 150%;
    text-align: center;

}

.products {
    display: flex;
    justify-content: space-between;
    padding: 7%;
}

.the-first-product {
    width: 25%;
    background-color: whitesmoke;
    border: solid 1px pink;
    border-radius: 5%;
    margin-top: -5%;
    padding: 3%;
}

.other-products {
    width: 25%;
    background-color: rgb(248, 241, 232);
    padding: 3%;
    margin-top: -5%;
}

.promotion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}

.statistics {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.creating-ways {
    width: 50%
}

.second-shape {
    width: 100%;
    height: 18%;
    background-color: rgb(245, 209, 143);
    border-radius: 8%;
    position: relative;
    margin-bottom: -18%;
}

.create-account {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background-color: white;
    position: relative;
}

#watch-btn {
    margin-top: 7%;
    border-radius: 30%;
    border: none;
    font-size: 120%;
    font-weight: bold;
    width: 30%;
    height: 60px;
    background-color: rgb(109, 109, 218);
    color: white;
}

.studying {
    width: 25%;
    margin-top: -15%;
    text-align: center;
}

#anchor {
    background-color: rgb(140, 140, 218);
    color: white;
    height: 25px;
    width: 20%;
    border-radius: 25%;
}

#woman-pic {
    margin-top: 5%;
    width: 25%;
}

#businesswoman {
    margin-left: 40%;
    width: 40%;
    margin-top: -15%;
}

#join-btn {
    background-color: rgb(197, 100, 189);
    color: white;
    width: 70%;
    height: 40px;
    border-radius: 30%;
    border: none;

}

.contents {
    text-align: center;
    font-size: 150%;
    margin: 8% auto;

}

.about-company {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#knowMore_btn {
    width: 45%;
    height: 13%;
    background-color: rgb(7, 7, 63);
    color: white;
    border-radius: 20%;
    font-size: 100%;
    font-weight: bold;
}

.mobile-interface {
    font-size: 120%;
    margin-top: 5%;
    width: 23%;
    line-height: 2;
}

#mobileIcon {
    font-size: 150%;
    margin-left: 5%;
    color: purple
}

.settings {
    transform: rotate(6deg);
    margin-top: 5%;
    font-size: 150%;
    border: 0px solid;
    background-color: whitesmoke;
    padding: 7%;
}

.designer {
    display: flex;
    justify-content: space-between;

}

#profile_icon {
    margin-top: 25%;
    font-size: 200%;
    rotate: 6deg;

}

.boostUp {
    rotate: 6deg;
    margin-right: 10%;
    padding: 5%;
}

.boost img {
    width: 80%;
}

#bell {
    font-size: 220%;
}

#signup {
    width: 100%;
    height: 15%;
    border: none;
    border-radius: 20%;
    background-color: #FF00FF;
    color: white;
    font-weight: bold;
}

#login {
    width: 100%;
    height: 15%;
    border-radius: 20%;
    font-weight: bold;
}

.boost {
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
}

.angel {
    width: 120%;
    rotate: 6deg;
}

.profile {
    display: flex;
}

.clients {
    text-align: center;
    font-size: 120%;
}

.client-reaction {
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 1.8;
}

.client-1 {
    width: 40%;
    margin-top: 3%;
    margin-bottom: 5%;
    border: solid 1px pink;
    border-radius: 5%;
    padding: 3%;
}

.client-2 {
    width: 40%;
    margin-top: 3%;
    padding: 3%;
}

.word-of-mouth {
    font-style: italic;
    margin-bottom: 5%;
}

#client-images {
    width: 20%;
    height: 30%;
}

.reaction {
    display: flex;
    justify-content: space-between;
}

.reaction,
#star {
    margin-top: 8%;
    margin-right: 8%;
    font-size: larger;
    color: black;
}

.reaction,
#star {
    color: yellow;
    margin-top: 8%;
    margin-right: 8%;
    font-size: larger;
}

.download {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.download img {
    width: 40%;
    height: 40%;
    margin-right: 14%;
}

.download a {
    color: black;
    text-decoration: underline;
}

.insert-links {
    width: 60%;
}

.first-button {
    display: flex;
    justify-content: space-between;
}

.second-button {
    display: flex;
}

.footer {
    display: flex;
    color: white;
    background-color: rgb(37, 37, 58);
    justify-content: space-between;
    padding: 3%
}

.more-info,
a {
    color: white;
    text-decoration: none;
    line-height: 2;
    margin-bottom: 3%;
    list-style-type: none;
}

.end-page {
    display: flex;
    justify-content: space-between;
    color: rgb(235, 227, 227);
    background-color: black;
    text-align: center;
    padding: 2%;
}